.container{
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    height: 400px;
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;
    background-color: rgb(157, 255, 127);
    position: relative;
    left: 20rem;
    top: 5rem;
    
}
input{
    margin: 5px;
}
button{
   margin: 5px;
   background-color:white;
   border-radius: 6px;
   border: 1px solid transparent;
   color: black;
}
